// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.conatiner {
  width: 720px;
  margin: 0 auto;
}

h1 {
  margin: 18px 0px;
}

.card {
  display: flex;

}

p {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
